body {
    background: linear-gradient(204deg, #e8e8e8, #616161, #cac8c8, #504f4f);
    background-size: 400% 400%;
    animation: AnimationName 16s ease infinite;
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes AnimationName {
    0% {
        background-position: 97% 0%;
    }
    50% {
        background-position: 4% 100%;
    }
    100% {
        background-position: 97% 0%;
    }
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Rostov.ttf');
    font-weight: normal;
    font-style: normal;
  }
  /* .navbar{
    position: absolute;
  } */
  .navbar-item-icon img {
    width: 30px;
    filter: brightness(0%);
    transition: all 0.7s ease-in-out;
  }
  
  .navbar-item-icon img:hover {
    filter: brightness(100%);;
    transform: scale(1.3);
  }
  
  .topbar-center-logo {
  background: transparent;
  
  }
  
  .topbar-center-logo .menu {
  background: transparent;
  }
  
  .topbar-center-logo .menu a {
  color: #000000;
  font-family: 'MyCustomFont';
  font-size: 17px;
  }
  
  .topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  }
  
  @media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
  }

  
  .album-covers {
    width: 70%;
    margin: 0 auto;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .album-covers td {
    padding: 40px;
  }
  
  .album-cover {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .album-cover .front,
  .album-cover .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }
  
  .album-cover .back {
    transform: translateX(100%);
  }
  
  .album-cover:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
  }
  
  .album-cover:hover .back {
    transform: translateX(0);
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }






  .footer {
    background-color: transparent;
    /* border-top: 3px solid #cecece; */
    padding: 30px 0;
    color: #000000;
    font-family: "MyCustomFont";
    z-index: -1;
    
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
  }
  
  .footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
  }
  .footer-logo {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .footer-logo-text {
    font-size: 14px;
    /* text-align: left; */
  }
  
  .footer-text p {
    margin: 0;
    line-height: 1.2;
    color: #000000;
    font-size: 1.5rem;
  }
  
  .footer-text p {
    margin: 0;
    line-height: 1.2;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "MyCustomFont";
  }
  
  .footer-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "MyCustomFont";
  
  }
  
  .footer-icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .footer-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .footer-item-icon img{
    width: 30px;
    margin-right: 15px;
    filter: brightness(0%);
    transition: all 0.7s ease-in-out;
  }
  
  
  .footer-item-icon img:hover {
    filter: brightness(100%);;
    transform: scale(1.3);
  }