
body {
    background: linear-gradient(204deg, #e8e8e8, #616161, #cac8c8, #504f4f);
    background-size: 400% 400%;
    animation: AnimationName 16s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 97% 0%;
    }
    50% {
        background-position: 4% 100%;
    }
    100% {
        background-position: 97% 0%;
    }
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Play-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.navbar-item {
    color: black;
    margin-right: 9rem;
    font-family: 'MyCustomFont';
    font-size: 30px;
  }
.navbar {
    background-color: transparent;
}



.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

.hero-body {
    position: relative;
    z-index: 1;
  }

.photo-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url('main1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }

.photo-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url('main2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    top: -250px;
  }
