

body {
  background: #111214;
  background-size: 400% 400%;
  animation: AnimationName 16s ease infinite;
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes AnimationName {
  0% {
      background-position: 97% 0%;
  }
  50% {
      background-position: 4% 100%;
  }
  100% {
      background-position: 97% 0%;
  }
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('Rostov.ttf');
  font-weight: normal;
  font-style: normal;
}

.navbar-item-icon img {
  width: 30px;
  filter: brightness(0%);
  transition: all 0.7s ease-in-out;
}

.navbar-item-icon img:hover {
  filter: brightness(100%);;
  transform: scale(1.3);
}

.topbar-center-logo {
background: dde0e6;

}

.topbar-center-logo .menu {
background: dde0e6;
}

.topbar-center-logo .menu a {
color: #000000;
font-family: 'MyCustomFont';
font-size: 17px;
}

.topbar-center-logo .top-bar-center {
-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
.topbar-center-logo .top-bar-center {
  display: none;
}
}




 .hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dde0e6;
}

.hero-text h1 {
  letter-spacing: 4px;
  font-size: 8rem;
  margin-bottom: 1rem;
  font-family: 'MyCustomFont';
}

table{
  margin-left: 250px;
  background-color: transparent;
  width: 70%;
  align-content: center;
}
th, td {
  background-color:transparent;
}

.buy-button {
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  /* transition: background-color 0.3s, color 0.3s, border 0.3s; */
  font-family: 'MyCustomFont';
}

.buy-button:hover {
  cursor: pointer;
  padding: 7px 17px;
  background-color: white;
  color: red;
  border: 3px solid red;
  font-family: 'MyCustomFont';
}

.day {
  margin-top: 15px;
  letter-spacing: 4px;
  font-size: 4rem;
  font-family: 'MyCustomFont';
  color:red;
  margin-bottom: 0;
  line-height: 0rem;
}

.year {
  letter-spacing: 4px;
  font-size: 1rem;
  font-family: 'MyCustomFont';
  margin-top: 0;
  line-height: 0rem;
  text-align: center;
}

.month {
  letter-spacing: 4px;
  font-size: 2rem;
  font-family: 'MyCustomFont';
  text-align: left;
  line-height: 0rem;
}

.weekday {
  letter-spacing: 4px;
  font-size: 1.1rem;
  font-family: 'MyCustomFont';
  text-align: left;
  line-height: 0rem;
}

.location {
  margin-top: 10px;
  letter-spacing: 4px;
  font-size: 3rem;
  font-family: 'MyCustomFont';
  line-height: 1rem;
}

.place {
  color: #686767;
  letter-spacing: 4px;
  font-size: 1.3rem;
  font-family: 'MyCustomFont';
  line-height: 0rem;
}

.date-year {
  text-align: right;
  padding-right: 5px;
}

.month-weekday {
  text-align: left;
  padding-left: 5px;
}
.concert-photos {
  width: 70%;
  margin: 0 auto;
  padding: 60px 0;
}

h2{
  margin-top: 100px;
  font-family: 'MyCustomFont';
  text-align: left;
  color: #dde0e6;
}
.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.concert-info {
  text-align: left;
  margin-bottom: 40px;
}

.concert-location {
  font-size: 18px;
  color: #bbbbbb;
  font-family: 'MyCustomFont';
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}