/* General table styles */
body {
    background: linear-gradient(204deg, #e8e8e8, #616161, #cac8c8, #504f4f);
    background-size: 400% 400%;
    animation: AnimationName 16s ease infinite;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'MyCustomFont';
}

@keyframes AnimationName {
    0% {
        background-position: 97% 0%;
    }
    50% {
        background-position: 4% 100%;
    }
    100% {
        background-position: 97% 0%;
    }
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Rostov.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .navbar-item-icon img {
    width: 30px;
    filter: brightness(0%);
    transition: all 0.7s ease-in-out;
  }
  
  .navbar-item-icon img:hover {
    filter: brightness(100%);;
    transform: scale(1.3);
  }

.topbar-center-logo {
  background: transparent;

}

.topbar-center-logo .menu {
  background: transparent;
}

.topbar-center-logo .menu a {
  color: #000000;
  font-family: 'MyCustomFont';
  font-size: 17px;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dde0e6;
}

.hero-text h1 {
  letter-spacing: 4px;
  font-size: 8rem;
  margin-bottom: 1rem;
  font-family: 'MyCustomFont';
}

.hover{
  font-family: 'MyCustomFont';
}
.concert-schedule {
    width: 100%;
    border-collapse: collapse;
    font-family: 'MyCustomFont';
  }
  
  .concert-schedule td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
  /* Date column styles */
  .concert-schedule .date {
    display:inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .concert-schedule .date .day {
    font-size: 70px;
    font-weight: bold;
  }
  
  .concert-schedule .date .month{
    font-size: 26px;
  }
  .concert-schedule .date .weekday {
    font-size: 24px;
  }
  
  /* Past event styles */
  .concert-schedule .past-event {
    color: #999;
  }
  
  .concert-schedule .past-event .btn-disabled {
    background-color: transparent;
    color: #999;
    cursor: not-allowed;
  }
  
  /* Button styles */
  .concert-schedule .btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .concert-schedule .btn-primary {
    background-color: #4CAF50;
    color: white;
  }
  
  .concert-schedule .btn-primary:hover {
    background-color: #45a049;
  }