

body {
    background: linear-gradient(204deg, #e8e8e8, #616161, #cac8c8, #504f4f);
    background-size: 400% 400%;
    animation: AnimationName 16s ease infinite;
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes AnimationName {
    0% {
        background-position: 97% 0%;
    }
    50% {
        background-position: 4% 100%;
    }
    100% {
        background-position: 97% 0%;
    }
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Rostov.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .navbar-item-icon img {
    width: 30px;
    filter: brightness(0%);
    transition: all 0.7s ease-in-out;
  }
  
  .navbar-item-icon img:hover {
    filter: brightness(100%);;
    transform: scale(1.3);
  }

.topbar-center-logo {
  background: transparent;

}

.topbar-center-logo .menu {
  background: transparent;
}

.topbar-center-logo .menu a {
  color: #000000;
  font-family: 'MyCustomFont';
  font-size: 17px;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}


.photo-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100vh;
    background-image: url('main1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }

.photo-2 {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
    background-image: url('logo2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

.video-container {
    position: relative;
    top: 94.5vh;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    z-index: 2;
  }
  
.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* .profile{
    height: 100vh;
} */

footer{
  z-index: -1;
}
.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



.footer {
  background-color: transparent;
  /* border-top: 3px solid #cecece; */
  padding: 30px 0;
  color: #bbb;
  font-family: "MyCustomFont";
  z-index: -1;
  
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}
.footer-logo {
  max-width: 80px;
  margin-right: 10px;
}

.footer-logo-text {
  font-size: 14px;
  /* text-align: left; */
}

.footer-text p {
  margin: 0;
  line-height: 1.2;
  color: #8a8a8a;
  font-size: 1.5rem;
}

.footer-text p {
  margin: 0;
  line-height: 1.2;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "MyCustomFont";
}

.footer-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "MyCustomFont";

}

.footer-icons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.footer-item-icon img{
  width: 30px;
  filter: brightness(0) invert(1);
  transition: all 0.7s ease-in-out;
}


.footer-item-icon img:hover {
  filter: brightness(100%);;
  transform: scale(1.3);
}